/* Estilos generales */

body {
    margin: 0;
    padding: 0;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* Contenedor principal del login (ocupa toda la pantalla excepto el navbar) */
.login-wrapper {
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: calc(95vh - 60px); /* Restar la altura del navbar */
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    margin-top: 30px; /* Para que no se solape con el navbar */
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif; 

}

/* Lado izquierdo (Bienvenida) */
.welcome-container {
    background: #6b9dfc;
    color: white;
    padding: 50px;
    text-align: center;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    

}

.welcome-container h2 {
    font-size: 28px;
    margin-bottom: 10px;
}

.btn-register {
    background: white;
    color: #6b9dfc;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.btn-register:hover {
    background: #ffffffcc;
}

/* Lado derecho (Formulario de Login) */
.login-container {
    padding: 50px;
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;  /* Centra verticalmente */
    align-items: center;  /* Centra horizontalmente */
    height: 70%;  /* Asegura que ocupe toda la altura del contenedor */
}


.login-container h1 {
    font-size: 38px;
    margin-bottom: 20px;
    color: #5a8ce0;
}

/* Campos de entrada */
.login-container input {
    width: 70%;
    padding: 14px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.login-container input:focus {
    border-color: #6b9dfc;
    outline: none;
}

/* Botón de inicio de sesión */
.btn-login {
    width: 80%;
    padding: 14px;
    background-color: #6b9dfc;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.btn-login:hover {
    background-color: #5a8ce0;
}

/* Enlace de contraseña */
.forgot-password {
    margin-top: 10px;
    font-size: 14px;
    color: #6b9dfc;
    cursor: pointer;
}

.forgot-password:hover {
    text-decoration: underline;
}



